# Папки и файлы, которые следует игнорировать в проекте .NET MAUI

# Игнорировать папку bin, содержащую скомпилированные файлы
bin/
# Игнорировать папку obj, содержащую временные файлы сборки
obj/
# Игнорировать кэшированные файлы NuGet
packages/
# Игнорировать файлы отладки
*.suo
*.user
*.bak
*.tmp
*.vspscc
*.log
*.cache
# Игнорировать файлы с локальными настройками
*.local
# Игнорировать кэшированные файлы Visual Studio
.vs/
# Игнорировать временные файлы
[Tt]emp/
[Vv]isual[Ss]tudio/
*.dbmdl
*.dbproj.schemaview
*.pfx
# Игнорировать файлы развертывания
*.publishsettings
# Игнорировать файлы с настройками для анализа кода
*.csproj.user
# Игнорировать файлы, созданные Mac OS
.DS_Store
# Игнорировать папки, созданные различными IDE
_ReSharper*/
.idea/
.vscode/